<%- include('../partials/top') %>

<div class="content">
    <%- include('../partials/left') %>

    <div class="info">
        <div class="tableInfo">
                <h2>Reminders</h2>
            <table class="table table-hover">
                <thead>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Days to Remaind</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                <% user.reminders.forEach(function(reminder){ %>
                <tr class="reminderRow" value="<%= reminder._id %>">
                    <td><%= reminder.name %></td>
                    <td><%= reminder.date.toDateString() %></td>
                    <td><%= reminder.daysBefore %></td>
                    <td>  
                    <form id="deleteReminder" action="/reminders/<%= reminder._id %>?_method=DELETE" method="POST" id="deleteReminder">
                    <button name="deleteReminder" type="submit" class="btnTest">Delete</button>
                    </form>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>

        <div id='itemsContainer'>
                <div id="test">
                <form id="form-save-update" class="newSize" id="add-size-form" method="POST" action="/users/<%= user._id %>/reminders">
                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" name="name" class="form-control" id="nameTextBox">
                    <input type="hidden" name="_id" class="form-control" id="idTextBox">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Date</label>
                    <input type="date" name="date" id="dateBox"></input>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Days Before Notification</label>
                    <input type="text" name="daysBefore" class="form-control" id="daysTextBox">
                    </div>
              
                        </div>
                        <button type="submit" class="btn btn-primary">update Reminder</button>
                        <button type="submit" class="btn btn-primary">Add Reminder</button>
            </form> 
            </div>
        </div>
   
        
      </body>

</html>