<%- include('../partials/top') %>
<%- include('../partials/left') %>


    <h1>reminders</h1>
    <table class="table table-striped table-hover">
            <thead>
                <th>Name</th>
                <th>Date</th>
                <th>Days to Remaind</th>
                <th>delete</th>
            </thead>
            <tbody>
                <% user.reminders.forEach(function(reminder){ %>
                    <tr onclick="myFunction()">
                        <td><%= reminder.name %></td>
                        <td><%= reminder.date %></td>
                        <td><%= reminder.daysBefore %></td>
                        <td>  
                        <form id="deleteReminder" action="/reminders/<%= reminder._id %>?_method=DELETE" method="POST" id="deleteReminder">
                        <button name="deleteReminder" type="submit" class="btnTest">Delete</button>
                        </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    
      
        <div id='itemsContainer' class='sizeContainer'>
                <form class="newSize" id="add-size-form" method="POST" action="/users/<%= user._id %>/reminders">
                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" name="name" class="form-control" id="formGroupExampleInput">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Date</label>
                    <input type="datetime-local" name="date"></input>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Days Before Notification</label>
                    <input type="text" name="daysBefore" class="form-control" id="formGroupExampleInput">
                    </div>
              
                        </div>

                <button type="submit" class="btn btn-primary">Add Reminder</button>
            </form> 
        </div>
        
      </body>

</html>