<%- include('../partials/top') %>

<div class="content">

    <%- include('../partials/left') %>
    
    <div class="info">
        <div class="tableInfo">
                <h2>Sizes </h2>
            <table class="table table-hover">
                <thead>
                    <th>Article Name</th>
                    <th>Size</th>
                    <th>Brands</th>
                    <th>Description</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                <% user.sizes.forEach(function(article){ %>
                <tr class="sizeRow" value="<%= article._id %>">
                    <td><%= article.name %></td>
                    <td><%= article.size %></td>
                    <td><%= article.brands %></td>
                    <td><%= article.description %></td>
                    <td>  
                        <form id="deleteArticle" action="/sizes/<%= article._id %>?_method=DELETE" method="POST" id="deleteArticle">
                        <button name="deleteArticle" type="submit" class="btnTest">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
  
    <div id='itemsContainer'>
            <div id="test">
        <form class="newSize" id="add-size-form" method="POST" action="/users/<%= user._id %>/sizes">
           
            <div class="form-group" id="first-textbox">
                <input type="text" name="name" class="textbox-imput-normal" id="nameSize" placeholder="Add your article">
                <input type="hidden" name="_id" class="form-control" id="idSize">
            </div>
            <div class="form-group" id ="second-textbox">
                <input type="text" name="size" class="textbox-imput-small" id="sizeSize" placeholder="Add Size">
            </div>
            <div class="form-group" id ="third-textbox">
                <input type="text" name="brands" class="textbox-imput-large" id="brandSize" placeholder="Add Brands">
                </div>
            <div class="form-group" id ="fouth-textbox">
                <textarea type="text" name="description" class="textbox-imput-xlarge" id="descriptionSize" placeholder="Add a description"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary">Update Article</button>
            <button type="submit" class="btn btn-primary">Add Article</button>
        </form> 
        </div>
    </div>


  </body>
</div>
</html>