<%- include('../partials/top') %>

<div class="content">

    <%- include('../partials/left') %>
    <h2>sizes </h2>
    <div class="info">
        <div class="tableInfo">
            <table class="table table-striped table-hover">
                <thead>
                    <th>Article Name</th>
                    <th>Size</th>
                    <th>Brands</th>
                    <th>Description</th>
                    <th>delete</th>
                </thead>
                <tbody>
                <% user.sizes.forEach(function(article){ %>
                <tr class="sizeRow" value="<%= article._id %>">
                    <td><%= article.name %></td>
                    <td><%= article.size %></td>
                    <td><%= article.brands %></td>
                    <td><%= article.description %></td>
                    <td>  
                        <form id="deleteArticle" action="/sizes/<%= article._id %>?_method=DELETE" method="POST" id="deleteArticle">
                        <button name="deleteArticle" type="submit" class="btnTest">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
</div>
  
    <div id='itemsContainer' class='sizeContainer'>
            <form class="newSize" id="add-size-form" method="POST" action="/users/<%= user._id %>/sizes">
            <div class="form-group">
                <label for="formGroupExampleInput">Article</label>
                <input type="text" name="name" class="form-control" id="nameSize" placeholder="Jeans">
                <input type="hidden" name="_id" class="form-control" id="idSize">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Size</label>
                <input type="text" name="size" class="form-control" id="sizeSize" placeholder="L">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Brands</label>
                <input type="text" name="brands" class="form-control" id="brandSize" placeholder="Lee">
                </div>
            <div class="form-group">
                <label for="formGroupExampleInput" >Description</label>
                <input type="text" name="description" class="form-control" id="descriptionSize" placeholder="I like black jeans....">
                </div>
           
            <button type="submit" class="btn btn-primary">Add Article</button>
        </form> 
    </div>
</div>
  </body>
</div>
</html>