<%- include('../partials/top') %>

<div class="content">

        <%- include('../partials/left') %>
        <div class="info">
        <div class="tableInfo">
                <h2>Allowed Users </h2>
                <table class="table table-hover">
                    <thead>
                        <th>Name</th>
                        
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        
                        <% users.forEach(function(userAccess){ %>
                        <% if (user.allowAccess.lenght > 0) { %>
                        <% user.allowAccess.forEach(function(aAccess){ %>
                        <% if (aAccess == userAccess._id) { %>
                            <tr class="sizeRow" value="<%= user._id %>">
                                <td><%= userAccess.name %></td>
                   
                            <td>  
                                <form id="deleteUser" action="/allowAccess/<%= user._id %>?_method=DELETE" method="POST" id="deleteUser">
                                <button name="deleteUser" type="submit" class="btnDeleteUser">Delete</button>
                                </form>
                            </td>
                    </tr>
                    <% } %>
                   
                    <%}) %>
                    <% } %>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        
        
        
        
        
            <form action="/allowAccess" method="GET">
                <div class="col s3 offset-s3">
                  <!-- search -->
                  <div class="input-field">
                    <input id="search" type="search" name="name" placeholder="search name" value="<%= name %>" autocomplete="off">
                  </div>
                </div>
                <table class="table table-hover">
                        <thead>
                            <th>Name</th>
                            <th>Add Permition</th>
                        </thead>
                        <tbody>
                        <% users.forEach(function(user){ %>
                        <tr class="userRow" value="<%= user._id %>">
                            <td><%= user.name %> <%= user.lastName %> </td>
                            <td>  
                            <form id="allowAccess" action="/users/<%= user._id %>/allowAccess" method="POST" id="allowAccess">
                                <button name="allowAccess" type="submit" class="btnAllowAccess">Allow Access</button>
                            </form>
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>



</div>   
      </body>

</html>